ALTER TABLE users ADD COLUMN IF NOT EXISTS phone VARCHAR(15) DEFAULT NULL, ADD COLUMN IF NOT EXISTS designation VARCHAR(100) DEFAULT NULL, ADD COLUMN IF NOT EXISTS department VARCHAR(100) DEFAULT NULL, ADD COLUMN IF NOT EXISTS profile_image VARCHAR(255) DEFAULT NULL; UPDATE users SET phone = '' WHERE phone IS NULL; UPDATE users SET designation = '' WHERE designation IS NULL; UPDATE users SET department = '' WHERE department IS NULL;
